.row.mb-2 .col:first-child {
    margin-right:0px;
}

.row.mb-2 .col {
    margin-right:10px;
}

.score-column-title {
    text-align: center;
    color: rgb(54, 0, 92);
}

.score-column-title {
    margin-bottom: 20px;
}