.home {
    background-color: lightskyblue;
}

.main-new {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.new {

}

.score-column {
    margin-left: 10 px;
    margin-right: 10 px;
}


.home-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://i.pinimg.com/originals/52/c0/ac/52c0ac5b0bddff68bb33e2770312e134.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    background-attachment: fixed;
    margin-bottom: 30px;
    position: relative;
    padding-top: 80px;
}   